.btn {
    &,
    &:link,
    &:visited {
        font-size: 1.6rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
    
        
    
        position: relative;
  
        border: none;
        cursor: pointer;
    }

    &:hover {
      transform: none;
      box-shadow: none;
  
      &::after {
          transform: none;
          opacity: 0;
      }
    }
  }