@media only screen and (max-width: 1200px) {
    .stick-bar {
        position: sticky;
        position: -webkit-sticky;
        top: 247px;
        z-index: 1000;
    }
    
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar button {
    margin-left: 2.5rem;
}