<app-nav></app-nav>
<mat-toolbar class="stick-bar" color="foreground">
    <mat-toolbar-row class="searchbar">
        <mat-form-field>
            <input type="text" matInput [formControl]="searchControl"/>
        </mat-form-field>
        <button class="btn btn--silver" (click)="filteredSearch()">Search</button>
    </mat-toolbar-row>
</mat-toolbar>

<app-container classes="main-container flex">
    <app-order-card class="item" *ngFor="let item of list | async" [order]="item"></app-order-card>
    <br />
</app-container>