.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar span {
    margin-right: 2.5rem;
}

.searchbar button {
    margin-left: 2.5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #212121 inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}