h2 {
    text-align: center;
}

.btn-container {
    margin-top: 2rem;

    button {
        margin-top: 2rem;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100rem #212121 inset;
}