<mat-toolbar class="nav" color="foreground">
    <mat-toolbar-row class="row">
        <div>
            <a class="main-btn" mat-button [routerLink]="[ '/home' ]" routerLinkActive="active">{{ 'admin panel' | capitalPipe }}</a>
        </div>
        
        <div class="middle">
            <button class="sub-btn" mat-button *ngFor="let action of actions" [routerLink]="[ action.url ]" routerLinkActive="active">
            {{action.text | capitalPipe}}&nbsp;
                <mat-icon>{{action.icon}}</mat-icon>
            </button>
        </div>
        
        <div>
            <!-- TODO: user name dinamically -->
            <button class="menu" mat-button [matMenuTriggerFor]="menu">{{ 'user' | capitalPipe}}&nbsp;
                <mat-icon>arrow_drop_down</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
