<div class="centering">
    <mat-card class="reg-card">
      <form [formGroup]="form" (ngSubmit)="changePassword()">
        <h2>Forgot Password</h2>

        <mat-form-field class="max__width">
          <mat-label>E-mail</mat-label>
          <input type="email" name="email" matInput placeholder="johndoe87@gmail.com" formControlName="email">
          <mat-hint>Must contain @</mat-hint>
        </mat-form-field>

        <div class="btn-container">
            <button class="max__width btn btn--silver" [routerLink]="[ '/home' ]">Go Back</button>
            <button type="submit" [ngClass]="form.invalid ? getCurrentClasses(true) : getCurrentClasses(false)" [disabled]="form.invalid">Send Email</button>
        </div>
      </form>
    </mat-card>
  </div>
